@import url('./assets/fonts/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Pretendard, sans-serif;
}

/* 모든 요소에서 스크롤바 숨기기 */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* 웹킷 기반 브라우저(Chrome, Safari 등)에서 스크롤바 숨기기 */
*::-webkit-scrollbar {
    display: none;
}

.swiper-slide {
    width: auto !important;
}
